:root{
    --color1: #181E4B;
    --color2: #5E6282;
    --color3: #DF6951;
    --color4: #686D77;
    --color5: #212832;
    --color6: #1E1D4C;
    --color7: #14183E;
    --color8: #FF946D;
    --color9: #080809;
    --color10: #F1A501;
    --white: #ffffff;
}

body{
    background-image: url(../img/Decore.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.subheading{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color2);
    margin-bottom: 15px;
}
.heading{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--color7);
    margin-bottom: 31px;
}

/* HERO */
.header{
    margin-top: 47px;
}
.header-container{
    width: 100%;
    max-width: 1160px;
    height: 40px;
    margin: 0 auto;
}
.top-nav{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-logo img{
    width: 114px;
    height: 34px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item{
    margin-left: 60px;
}
.menu-item:last-child{
    margin-left: 30px;
}
.menu-item-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--color5);
}
.menu-item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color5);
    color: var(--color5);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.menu-item-dropdown{
    color: var(--color5);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
/* HERO END */


/* HERO CONTENT */
.hero-content{
    margin: 18px 0 97px 0;
}
.hero-content-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.desc-title{
    margin-top: 112px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--color3);
    text-transform: uppercase;
}
.hero-content-desc{
    width: 45%;
}
.desc-heading{
    margin: 24px 0 38px 0;
    font-family: 'Volkhov', serif;
    font-size: 77px;
    line-height: 84px;
    color: var(--color1);
}
.desc-text{
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    font-weight: 500;
    color: var(--color2);
    margin-bottom: 34px;
}
.hero-content-btns{
    display: flex;
    align-items: center;
}
.btn-find{
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--color10);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-right: 44px;
}
.btn-play-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-play-img{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border-radius: 50%;
}
.btn-play-img img{
    width: 15px;
    height: 15px;
}
.btn-play-text{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: var(--color4);
    font-weight: 500;
    margin-left: 21px;
}
.hero-content-img{
    width: 55%;
}
.hero-content-img img{
    width: 783px;
    height: 764px;
}
/* HERO SECTION END */

/* SERVICES */
.services{
    padding-bottom: 38px;
    margin-bottom: 124px;
}
.services-container{
    width: 100%;
    max-width: 1089px;
    margin: 0 auto;
}
.services-title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color2);
    text-transform: uppercase;
    text-align: center;
}
.services-heading{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: var(--color7);
    margin-bottom: 110px;
}
.services-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color6);
    text-align: center;
    margin-top: 30px;
}
.category{
    text-align: center;
}
.category-text{
    width: 181px;
    height: 78px;
    text-align: center;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--color2);
    margin-top: 15px;
}

/* SERVICES END */

/* DESTINATIONS */
.destinations{
    margin-bottom: 186px;
}
.destinations-container{
    width: 100%;
    max-width: 1102px;
    margin: 0 auto;
}
.destinations-subheading{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--color2);
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}
.distinations-heading{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--color7);
    text-align: center;
    margin-bottom: 60px;
}
.destinations-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destinations-item{
    width: 315px;
    height: 457px;
    position: relative;
    cursor: pointer;
}
.destinations-item:hover .destinations-item-card{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.destinations-item img{
    border-radius: 24px;
}
.destinations-item-card{
    position: absolute;
    bottom: 0;
    width: 315px;
    height: 130px;
    background-color: var(--white);
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    padding: 27px 25px 42px 20px;
    transition: all 0.3s ease-in-out;
}
.destinations-card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color2);
    margin-bottom: 19px;
}
.destinations-card-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--color2);
}
.destinations-card-btn span{
    margin-right: 15px;
    color: #000;
}
/* DESTINATIONS END */

/* Book a Trip */
.book-trip{
    margin-bottom: 200px;
}
.book-trip-container{
    width: 100%;
    max-width: 1114px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-trip-left{

}
.book-trip-left-subheading{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color2);
    margin-bottom: 15px;
}
.book-trip-left-heading{
    font-family: 'Volkhov', serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--color7);
    margin-bottom: 31px;
}
.book-trip-left-values{
    
}
.values-item{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.values-item-info{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--color2);
    margin-left: 21px;
}
.values-item-info__title{
    line-height: 1.2;
    margin-bottom: 4px;
}
.values-item-info__text{
    font-weight: 500;
}


.book-trip-right{
    width: 485px;
}



/* Book a Trip END */

.testimonials-section{
    
}
.testimonials-section-container{
    width: 100%;
    max-width: 1165px;
    margin: 0 auto;
}
.circles{
    width: 87px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 82px 0 88px 0;
}
.circles-item{
    width: 12px;
    height: 12px;
    background-color: #E5E5E5;
    border-radius: 50%;
}
div.circles-item-activ{
    background-color: #39425D;
}

/* Logos */
.logos{
    margin-bottom: 111px;
    margin-top: 96px;
}
.logos-container{
    width: 100%;
    max-width: 1073px;
    margin: 0 auto;
}
.logos-items{
    height: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 86px;
    border-radius: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.logos-item:hover{
    background-color: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}