:root{
    --color1: #181E4B;
    --color2: #5E6282;
    --color3: #DF6951;
    --color4: #686D77;
    --color5: #212832;
    --color6: #1E1D4C;
    --color7: #14183E;
    --color8: #FF946D;
    --color9: #080809; 
    --white: #ffffff;
}

body{
    background-image: url(../img/Decore.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* HERO */
.header{
    margin-top: 47px;
}
.header-container{
    width: 100%;
    max-width: 1160px;
    height: 40px;
    margin: 0 auto;
}
.top-nav{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-logo img{
    width: 114px;
    height: 34px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item{
    margin-left: 60px;
}
.menu-item:last-child{
    margin-left: 30px;
}
.menu-item-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--color5);
}
.menu-item-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color5);
    color: var(--color5);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.menu-item-dropdown{
    color: var(--color5);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}